#ignorar la carpeta .idea porque es propia del IDE
.idea/
.idea/workspace.xml
#ignorar todos los .pyc porque son los archivos binarios
*.pyc
*.xml

*.orig
.project
.pydevproject
.settings
.settings/org.eclipse.core.resources.prefs
django
Doc/
**/.idea/workspace.xml
.iws
workspace.xml
task.xml
*~
backups
Investigacion
issues
uploads
*.bat

# IDE
.vscode

# python virtualenv
venv
venv3.8
# coverage
htmlcov
.coverage
venv/
venv3.6/
frontend/package-lock.json
*.xlsx
*.xls
*.log

# local config file
MERCES.settings.local
app/MERCES/settings/local.py
